.profileContainer {
  box-shadow: 0 0 10px black;
  width: 1000px;
  margin: 50px auto;
  height: 400px;
  display: flex;
}
.leftSection {
  width: 30%;
}
.rightSection {
  width: 70%;
  padding: 20px 30px;
}
