.productsContainer {
  width: 1100px;
  box-shadow: 0 0 10px black;
  margin: 50px auto;
  height: 400px;
  display: flex;
}
.leftPanel {
  background-color: black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.rightPanel {
  width: 70%;
  padding: 10px;
}
.leftPanel a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
}
